<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460432828885-he1c6m049cqee2cvd2s4th67t84805fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460432828885-he1c6m049cqee2cvd2s4th67t84805fd</string>
	<key>API_KEY</key>
	<string>AIzaSyCQleg7qPk-3VtZRvt28EMB7ZZIo4bP7KA</string>
	<key>GCM_SENDER_ID</key>
	<string>460432828885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPumpCheck</string>
	<key>PROJECT_ID</key>
	<string>pump-check</string>
	<key>STORAGE_BUCKET</key>
	<string>pump-check.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460432828885:ios:ae47022807d990b1f9755c</string>
</dict>
</plist>